.button {
		background-image: $button-gradient-color;
		color: white;
		padding: 1em 3em;
		border-radius: 2em;
		border-style: none;
		margin: 1em 0 2em 0;
		box-shadow: 0px 3px 16px 3px rgba(0, 0, 0, 0.23);
		cursor: pointer;
		transition: all 200ms;

		&-order {
			text-align: center;
			margin-bottom: 30px;
		}


		&:hover {
			background-image: $button-gradient-color--lighter;
			box-shadow: 0px 3px 16px 3px rgba(0, 0, 0, 0.38);
		}
	}



.favorite {
			&--inactive {

				float: right;
				margin: -50px 30px;
				font-size: 1.5rem;
				position: relative;
				z-index: 1;
				cursor: pointer;

			&:hover {
					& .favorite--hover {
						cursor: pointer;
						opacity: 1;
						z-index: 1;
						transform: scale(1.1);
					}
				}

				
			}
			

			&--hover {
				position: absolute;
				float: right;
				margin-left: -25px;
				font-size: 1.6rem;
				background: -webkit-linear-gradient(45deg, $secondary-color, $primary-color);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				opacity: 0;
				z-index: -1;
				transition: all 300ms;
			}

			
		}



.back-menu {
	position: absolute;
	padding: 23px 20px;
	cursor: pointer;
}

@media all and (min-width: 768px) {
	.back-menu {
		font-size: larger;
		padding-left: 40px;
	}
}
