.button {
		background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
		color: white;
		padding: 1em 2em;
		border-radius: 2em;
		border-style: none;
		margin: 1em 0 2em 0;
		box-shadow: 0px 3px 16px 3px rgba(0, 0, 0, 0.23);
		cursor: pointer;
	}



.favorite {
			&--inactive {

				float: right;
				margin: -50px 30px;
				font-size: 1.5rem;
				position: relative;
				z-index: 1;
				cursor: pointer;

			&:hover {
					& .favorite--hover {
						cursor: pointer;
						opacity: 1;
						z-index: 1;
					}
				}

				
			}
			

			&--hover {
				position: absolute;
				float: right;
				margin-left: -25px;
				font-size: 1.6rem;
				background: -webkit-linear-gradient(45deg, $secondary-color, $primary-color);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				opacity: 0;
				z-index: -1;
				transition: opacity 250ms;
			}

			
		}


.back-menu {
	position: absolute;
	padding: 23px 20px;
}
