.loader__spin {

	&--1 {
		height: 120px;
		width: 120px;
		@include spin-load--border;
		border-bottom-color: $primary-color;
		border-left-color: $primary-color;
		opacity: 0;
		left: calc(50% - 60px);
		top: calc(50% - 60px);
		position: fixed;
		z-index: -1;
		animation: spin 3s forwards linear;
	}

	&--2 {
		height: 80px;
		width: 80px;
		@include spin-load--border;
		border-top-color: $secondary-color;
		border-right-color: $secondary-color;
		opacity: 0;
		left: calc(50% - 40px);
		top: calc(50% - 40px);
		position: fixed;
		z-index: -1;
		animation: spin 3s 300ms forwards linear;
	}

	&--3 {
		height: 40px;
		width: 40px;
		@include spin-load--border;
		border-bottom-color: $tertiary-color;
		border-left-color: $tertiary-color;
		opacity: 0;
		left: calc(50% - 20px);
		top: calc(50% - 20px);
		position: fixed;
		z-index: -1;
		animation: spin 3s 600ms forwards linear;
	}
}


.loader__bg {
	background-color: rgba($bg-two, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	opacity: 0;
	animation: bg 3s;
}

.loader__bg--2 {
	background-color: $bg-two;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	opacity: 0;
	animation: bg-2 3s;
}



@keyframes spin {
	25% {
		opacity: 1;
		transform: rotate(0.5turn);
		z-index: 3;
	}

	50% {
		transform: rotate(1.2turn);
		z-index: 3;
	}

	75% {
		transform: rotate(1.7turn);
		opacity: 1;
		z-index: 3;
	}

	90% {
		opacity: 0.5;
		z-index: 3;
	}

	99% {
		z-index: 3;
	}

	100% {
		transform: rotate(2.5turn);
		opacity: 0;
		z-index: 0;
	}
}

@keyframes bg {
	0% {
		opacity: 1;
		z-index: 2;
	}

	50% {
		opacity: 0.8;
		z-index: 2;
	}

	99% {
		opacity: 0.5;
		z-index: 2;
	}

	100% {
		opacity: 0;
		z-index: 0;
	}
}

@keyframes bg-2 {
	0% {
		opacity: 1;
		transform: translateY(0%);
		z-index: 2;
	}

	10%, 20% {
		opacity: 1;
		transform: translateY(15%);
		z-index: 2;
	}

	40% {
		opacity: 1;
		transform: translateY(50%);
		z-index: 2;
	}

	60% {
		opacity: 1;
		transform: translateY(70%);
		z-index: 2;
	}

	90% {
		opacity: 0.8;
		transform: translateY(90%);
		z-index: 2;
	}

	99% {
		z-index: 2;
	}

	100% {
		transform: translateY(100%);
		opacity: 0;
		z-index: 0;
	}
}

.page {
	z-index: 9999;
	opacity: 1;
	animation: page 2s both;
}

@keyframes page {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	90% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}