@mixin border-radius--2corner {
	border-radius: 1.5em 1.5em 0 0;
}

@mixin border-radius--2corner--side {
	border-radius: 0 1.5em 1.5em 0;
}

@mixin border-radius--4corner {
	border-radius: 1.5em 1.5em;
}


@mixin spin-load--border {
	border-radius: 50%;
	border: solid 15px transparent;
}