$primary-color: #9356DC; /*purple*/
$secondary-color: #FF79DA; /*pink*/
$tertiary-color: #99E2D0; /*cyan*/
$bg-one: #e9e9e9; /*deep gray*/
$bg-two: #f6f6f6; /*light gray*/
$font-title: 'Shrikhand', cursive;