$primary-color: #9356DC; /*purple*/
$secondary-color: #FF79DA; /*pink*/
$tertiary-color: #99E2D0; /*cyan*/
$bg-one: #e9e9e9; /*deep gray*/
$bg-two: #f6f6f6; /*light gray*/
$box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.24);
$font-title: 'Shrikhand', cursive;
$button-gradient-color: linear-gradient(175deg, $secondary-color 0%, $primary-color 100%);;