.footer {
	background-color: darken($bg-one, 70%);
	padding: 30px 30px;
	line-height: 0.5em;
	color: white;

	a {
		color: inherit;

		p {
			font-size: 15px;
		}
	}

	&--logo {
		width: 150px;
		filter: contrast(0%) brightness(100);
		margin-bottom: 15px;
	}

	&--icon {
		display: flex;
		height: 1.5em;

		.fas {
			margin-right: 10px;
			vertical-align: bottom;
			line-height: 43px;
		
		}

		.fa-hands-helping {
			font-size: 11px;
		}

		a{
			p {
				font-size: larger;
			}
		}
	}
}

/* Footer media queries */

@media all and (min-width: 768px) {
	.footer {
		text-align: center;


		&--logo {
			width: 200px;
		}

		&--icon {
			justify-content: center;

			.fa-hands-helping {
			font-size: 13px;
			}
		}
	}
}

@media all and (min-width: 1024px) {
	.footer a p {
		font-size: larger;
	}
}