.location {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $bg-one;
	border-top-style: inset;
	p {
		margin-left: 1em;
		font-weight: bold;
	}
}

.explore {
	background-color: $bg-two;
	padding: 2em 2em;

	h1 {
	font-size: 23px;
	margin-top: 0px;
	padding: 20px 25px 10px 25px;
	font-weight: bold;
	
	}
}

.functionality {
	width: 90vw;
	margin: auto;


	ol {
		counter-reset: functionality;
		list-style: none;
		margin-left: -2em;
		font-weight: 600;
	}

	li {
		background-color: $bg-two;
		padding: 2em 2em 2em 0;
		margin: 1em 0;
		border-radius: 2em;
		box-shadow: $box-shadow;
		counter-increment: functionality;
		position: relative;

		&:hover {
			.fas {
				color: $primary-color;
			}
		}

		a::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&::before {
			content: counter(functionality);
			background-color: $primary-color;
			padding: 5px 8px;
			border-radius: 100%;
			margin-right: 2em;
			margin-left: -0.8em;
			color: white;
			font-size: 13px;
		}

		.fas {
			margin-right: 2em;
		}
	}
}


/* Media queries for functionality part */

/* For Tablet */


@media all and (min-width: 768px) and (max-width : 1024px) {
	.functionality {
		width: 50%;
	}
}

/* For PC */

@media all and (min-width: 1024px) {
	.functionality {
		width: 40%;
	}
}


/* End of functionality Media queries */


/* Main section */



.resto-list {
	background-color: $bg-two;
	padding: 10px 0 20px 0;

	h2 {
		margin: 20px 20px;
	}

	&__tile {
		width: 90%;
		background-color: white;
		margin: 10px 20px 20px 20px;
		position: relative;
		padding-bottom: 10px;
		@include border-radius--4corner; 

		a::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&__img {
			width: 100%;
			height: 200px;
			object-fit: cover;
			@include border-radius--2corner;
		}

		&__banner {
			position: absolute;
			top: 8px;
			right: 16px;
			background-color: $tertiary-color;
			padding: 5px 15px;
			color: darken($tertiary-color, 40%);
			border-radius: 3px 3px;
			font-size: small;
			font-weight: bold;
		}

		&__caption {
			margin-left: 15px;
			line-height: 0.5em;
		}
			
	}
}


/* Media queries for restaurant list */

/* For PC */

@media all and (min-width: 1024px) {
	.resto-list--flex {
		display: flex;
		flex-wrap: wrap;

	}

	.resto-list__tile {
		width: 45%;
	}
}

/* For Tablet */


@media all and (min-width: 768px) and (max-width : 1024px) {
	.resto-list {
		padding: 10px 30px 60px 50px;

		&__tile {
			margin-bottom: 50px;
		}
	}
}

/* End of Media queries */


